*{
    box-sizing: border-box;
    margin: 0;
}

body, html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

:root{
    --pri-blue-color: #3a9ad4;
    --sec-blue-color: #3390c9;
    --pri-oran-color: #f4c242;
    --sec-oran-color: #ebb529;
}

.ql-toolbar.ql-snow{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.ql-formats{
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
}

@font-face{
    font-family: Kollektif;
    src: url("assets/fonts/Kollektif.ttf")
}
