:host{
    width: 100%;
    height: 15vw;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding-inline-start: 0;
    height: 85%;
    color: var(--pri-blue-color);
}

ul > li {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
}

ul > li:nth-child(n+2){
    border-left: 1px solid #eee;
}

div{
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #eee;
}

div > div.selector{
    width: 25%;
    height: 100%;
    background: var(--pri-blue-color);
    transition: .25s ease;
    border: none;
}

button{
    height: 20vw;
    width: 20vw;
    border-radius: 100vw;
    background: var(--pri-blue-color);
    color: white;
    font-size: 2em;
    border: 1px solid var(--sec-blue-color);
    box-shadow: 2px 2px 3px rgba(0,0,0, 0.1);
    transition: .25s ease;
    animation: scale 1s infinite;
    z-index: 5;
    position: relative;
    top: 135vw;
    left: 70vw;
}
